.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.titulo {
    margin-bottom: 24px;
    font-family: Montserrat;
    font-weight: 400;
}

.botoes {
    display: flex;
    gap: 16px;
    margin-bottom: 32px;

}

.botao {
    background-color: #FD6C6C;
    color: white;
    border-radius: 20px;
    font-family: Montserrat;
    font-weight: 400;
}
.isActive {
    background-color: #FFA2A2;
}