.login {
    display: flex;
    flex-direction: column; 
    height: 100vh;
    gap: 50px;
    min-height: 100vh;
  }
  
  @media (min-width: 768px) {
    .login {
      flex-direction: row;
    }
  }
  
  .login > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }