.card_imglogin {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
.card_imglogin img{
    width: 100%;
    height: 100%;
    border-radius: 12px; 
    object-fit: cover;
}

@media (max-width: 767px) {
    .card_imglogin {
      display: none;
    }
  }
  