.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 600px;
}

.register-form  {
    background-color: #eb6464;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.register-form h2 {
    text-align: center;
    color: #FFDBDB;
    font-size: 40px;
    font-weight: 400;
}

.register-form label{
    font-weight: 500;
    color: #FFDBDB;
    font-weight: 300;
    text-align: left;
}

.register-form input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FFDBDB;
    color: black;
}

.register-form button {
    background-color: #FFDBDB;
    color: #ed7171;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.register-form button:hover {
    background-color: #e84a4a;
}

.erro{
    color: red;
    font-size: 15px;
    text-align: center;
}