.registro {
    display: flex;
    flex-direction: row;
    height: 90vh;
    gap: 80px;
    min-height: 90vh;
    position: relative;
    align-items: center;
    justify-content: center;
  
  
  }
  
  .logo {
    position: absolute;
  
    top: -35px;
    left: -380px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .tam {
    height: 50px;
  }
  
  .title {
    font-size: 1.5em;
    color: #FD6C6C;
    font-family: 'Montaga';
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .registro {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      padding: 20px;
    }
  
    .logo {
      top: 5px;
      left: 0;
    }
  }
  
  
  .registro>* {
    flex: 1;
    display: flex;
  
    align-items: center;
    justify-content: center;
  }