.card_mensagemautoajuda {
    width: 100%;
    max-width: 1127px;
    border-radius: 10px;
    background: #FFDBDB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.icone_editar {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 15px;
    color: #685d5d;
    transition: color 0.3s;
}
  
  .icone_editar:hover {
    color: #000;
}

.card_dicas {
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-align: center;
}
  
.card_dicas p {
    margin: 0;
    font-family: Montserrat;
    font-size: 16px;
    color: #050505;
    font-weight: 300;
}
  
.textarea {
    width: 100%;
    min-height: 10px;
    border-radius: 10px;
    padding: 10px;
    font-family: Montserrat;
    font-size: 16px;
    resize: vertical;
    background-color: #f55656;
    color: white;
}
  